Scrapy==0.24.1
Twisted==14.0.0
argparse==1.2.1
cffi==0.8.2
cryptography==0.4
cssselect==0.9.1
gnureadline==6.2.5
ipython==2.0.0
lxml==3.3.5
pyOpenSSL==0.14
pycparser==2.10
python-dateutil==2.2
pytz==2014.2
queuelib==1.1.1
raven==4.1.1
redis==2.9.1
rq==0.3.13
scrapy-sentry==0.6.1
-e git+https://github.com/brandicted/scrapy-webdriver#egg=scrapy-webdriver
selenium==2.42.1
six==1.7.2
times==0.6.2
ujson==1.33
w3lib==1.6
wsgiref==0.1.2
zope.interface==4.1.1
